.banner-common .layout {
  text-align: center;
  background: url('../../images/banner.png') no-repeat center/cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.banner-common .layout h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02) rotate(2deg);
  }
}

.banner-common .layout .neon-text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px #1d9b5e, 0 0 10px #1d9b5e, 0 0 20px #1d9b5e,
    0 0 40px #1d9b5e;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.8s infinite;
  height: 32px;
}

.banner-common .right-content {
  background: linear-gradient(#bebebe39, #bebebe39),
    url('../../images/dotted-map.png') no-repeat center/cover;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #bebebe85;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 12px 32px;
  position: relative;
}

@media only screen and (min-width: 1600px) {
  .banner-common .layout {
    padding: 160px 300px 80px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .banner-common .layout {
    padding: 160px 200px 80px;
  }
}

@media only screen and (max-width: 1400px) {
  .banner-common .layout {
    padding: 160px 150px 80px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-common .layout {
    padding: 160px 100px 80px;
  }
  .homepage-container .banner .layout {
    height: 460px;
  }
}

@media only screen and (max-width: 1024px) {
  .banner-common .layout {
    padding: 160px 60px 80px;
  }
}
@media only screen and (max-width: 992px) {
  .banner-common .right-content {
    display: none;
  }
  .homepage-container .banner .layout {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .banner-common .layout {
    padding: 160px 30px 80px;
  }
}

@media only screen and (max-width: 576px) {
  .banner-common .layout h1 {
    font-size: 40px;
  }
  .banner-common .layout .neon-text {
    font-size: 12px;
  }
  .banner-common .layout {
    padding: 130px 20px 50px;
  }
}
