/* .modal-common .btn-Cancel:hover,
.modal-common .btn-ok:hover {
    background: #f4a070 !important;
    color: #FFF !important;
} */

.modal-common .title {
  color: #787878;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.modal-common .message {
  color: #787878;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: center;
}
