.modal-common .btn-ok {
  border-radius: 4px;
  background: #40bb15;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  height: 44px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 120px;
}

.modal-common .btn-Cancel {
  border-radius: 4px;
  background: #ff364a;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  height: 44px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 120px;
}

.modal-common .btn-Cancel:hover,
.modal-common .btn-ok:hover {
  color: #787878;
  background: #fff;
  border: 1px solid #787878;
}

/* .modal-common .btn-Cancel:hover,
.modal-common .btn-ok:hover {
    background: #f4a070 !important;
    color: #FFF !important;
} */

.modal-common .title {
  color: #787878;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.modal-common .message {
  color: #787878;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: center;
}
