@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'SVN-Gilroy';
}

.main-layout .content .header-page .title-page {
  color: rgba(0, 0, 0, 0.9);
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}

@media only screen and (min-width: 1801px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 400px;
  }
}

@media only screen and (min-width: 1600px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 300px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 200px;
  }
}

@media only screen and (max-width: 1400px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 80px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 60px 30px;
  }
}

@media only screen and (max-width: 576px) {
  .padding-common,
  .main-layout-client .header-layout-client,
  .main-layout-client .footer-layout-client {
    padding: 20px 20px;
  }
}

.table-common table {
  background: #fff;
  border: solid rgb(227 227 227) 1px;
}

.table-common .ant-table-thead {
  background: #f7f7f7 !important;
  position: sticky;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  z-index: 9;
  overflow: auto;
  width: 100%;
}

/* scroll custom */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0d9e6d;
  border-radius: 10px;
}

/* scroll custom */

.message-error {
  font-weight: 600;
  text-align: left;
  color: #f61a1a;
}

.full-page-loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 99999;
}

.legend-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #6b7280;
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 10px;
}

.border-add {
  border: 1px solid #e3e3e3;
  padding: 30px 20px;
}

.upload-common .ant-upload {
  background-color: white;
  border-radius: 50%;
  border: 3px solid #0d9e6d;
}

.upload-common
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  /* width: 180px;
  height: 180px; */
}

.text-truncate {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-truncate-3 {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ck-content {
  min-height: 180px;
}

.page-dot {
  width: 12px;
  height: 12px;
  background: #094174;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.ant-modal.custom-modal {
  width: 70% !important;
}
.ant-modal.custom-modal-select {
  width: 50% !important;
}

.ant-drawer-content-wrapper {
  width: 40% !important;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .ant-modal.custom-modal {
    width: 90% !important;
  }
  .ant-modal.custom-modal-select {
    width: 80% !important;
  }
  .ant-drawer-content-wrapper {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .ant-modal.custom-modal {
    width: 100% !important;
  }
  .ant-modal.custom-modal-select {
    width: 90% !important;
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

.ant-drawer-body {
  padding: 4px 6px !important;
}

.divider-modal {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.divider-modal .line {
  flex: 1;
  height: 1px;
  background-color: #999;
}

.divider-modal .divider-text {
  font-weight: 500;
  color: #666666;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.alert-common {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 156px;
  height: 100%;
  border-radius: 15px;
  padding: 30px;
}

.alert-common p {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}

.alert-common a {
  text-decoration: underline;
}

.text-truncate {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-truncate-2 {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-truncate-3 {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-truncate-4 {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
