@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../public//font//SVN-Gilroy\ Regular.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

