.chat-container .btn-chat {
  position: fixed;
  bottom: 120px;
  right: 50px;
  background-color: #1d9b5e;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.chat-box-container {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(-45deg, #1d9b5e, #32a8a8, #1e8449, #0e6655);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat-box-container .chat-box {
  flex: 1;
  padding: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
}

.chat-box-container .scroll-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  background: #1d9b5e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(64, 187, 21, 0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 11;
}

.chat-box-container .scroll-button:hover {
  transform: translateY(-3px);
}

.title-chat {
  font-size: 20px;
}

@media only screen and (min-width: 1600px) {
  .select-bot-container .padding-common {
    padding: 80px 300px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .select-bot-container .padding-common {
    padding: 80px 200px;
  }
}

@media only screen and (max-width: 1400px) {
  .select-bot-container .padding-common {
    padding: 80px 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .select-bot-container .padding-common {
    padding: 80px 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .select-bot-container .padding-common {
    padding: 80px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .select-bot-container .padding-common {
    padding: 60px 30px;
  }
}

@media only screen and (max-width: 576px) {
  .select-bot-container .padding-common {
    padding: 20px 20px;
  }
}

.select-bot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  background: linear-gradient(-45deg, #1d9b5e, #32a8a8, #1e8449, #0e6655);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}
.select-bot-container .padding-common {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}
.select-bot-container .header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #181818;
  text-align: center;
}
.select-bot-container .options {
  margin-bottom: 20px;
}
.select-bot-container .option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.select-bot-container .option p {
  font-size: 16px;
  font-weight: 600;
}
.select-bot-container .option.selected {
  background-color: rgb(71, 206, 247);
}
.select-bot-container .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 8px;
}
.select-bot-container .footer {
  text-align: center;
  margin-top: 20px;
}
.select-bot-container .confirm-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.select-bot-container .confirm-button:hover {
  background-color: #0056b3;
}
