.chat-container .btn-chat {
  position: fixed;
  bottom: 120px;
  right: 50px;
  background-color: #40bb15;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
