.goal-container {
  background: #ffffff;
  width: 100%;
  position: relative;
}

.goal-container .overview {
  position: relative;
}

.goal-container .overview .content {
  z-index: 10;
  position: relative;
  background: linear-gradient(-45deg, #02b7b7, #009696, #006565, #003333);
  /* background: #003333; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 5px 10px -10px #7c0fd1;
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  z-index: 10;
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.goal-container .overview img {
  position: absolute;
  right: 0;
  z-index: 9;
  animation: robot 6s both ease-out infinite;
}

@keyframes robot {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}
.goal-container .overview .content p {
  color: #fff;
  font-weight: 600;
}
.goal-container .overview .content p.title {
  font-size: 22px;
}
.goal-container .overview .content p.sub {
  font-size: 14px;
}

.goal-container .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background: #ededed;
  box-shadow: 5px 5px 10px -10px #7c0fd1;
  padding: 1.5rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}
.goal-container .info .title {
  color: #212121;
  font-weight: 600;
  font-size: 14px;
}

.goal-container .info .sum {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.goal-container .info .more {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.goal-container .info .more p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.goal-container .static table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.goal-container .static table tr {
  font-size: 16px;
}

.goal-container .static table tr th {
  white-space: nowrap;
}

.goal-container .static table tr td {
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (max-width: 576px) {
  .goal-container .info .sum {
    font-size: 20px;
    line-height: 28px;
  }

  .goal-container .info .more p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.goal-container .bar-chart {
  z-index: 10;
  position: relative;
  background: #ededed;
  /* background: #003333; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 5px 10px -10px #7c0fd1;
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  z-index: 10;
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  height: 100%;
}

.goal-container .bar-chart p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: #003333;
}
